# Data Cleaning

In [1]:
import pandas as pd

## author

In [3]:
author = pd.read_csv('csv_files/authors.csv')
author.rename(columns={'name':'author'}, inplace=True)
#author.to_csv('csv_files/authors.csv', index=False)

In [3]:
print(author.shape)
print(author.author.unique().shape)

(3426332, 1)
(3426332,)

In [4]:
del author

## article

In [5]:
article = pd.read_csv('csv_files/article.csv')

In [6]:
article.rename(columns={'key':'_key','url': '_url'}, inplace=True)
article.count()

_key        3269592
mdate       3269592
publtype     586879
title       3269591
author      3250036
year        3269589
journal     3269587
ee          3245657
_url        3269041
dtype: int64

In [7]:
def truncate_title(title):
    title = str(title)
    if len(title) > 255:
        return title[:255]
    else:
        return title

# 应用截断函数到 'title' 列
article['title'] = article['title'].apply(truncate_title)
article['ee'] = article['ee'].apply(truncate_title)

max_length_index = article['title'].str.len().idxmax()
max_string_value = article['title'][max_length_index]
max_string_value
len(max_string_value)

255

In [8]:
R_article_author = article.assign(author = article['author'].str.split('::')).explode('author')
R_article_author.drop(columns=['mdate','publtype','title','year','journal','ee','_url'],inplace=True)
R_article_author.dropna(inplace=True)
R_article_author.count()

_key      10679885
author    10679885
dtype: int64

In [9]:
article.drop(columns=['author'], inplace=True)
article.to_csv('csv_files/article.csv', index=False)

In [10]:
del article

## book

In [11]:
book = pd.read_csv('csv_files/book.csv')

In [12]:
book.rename(columns={'key':'_key','url': '_url'}, inplace=True)
book['_type'] = 'book'
book.count()

_key         20150
mdate        20150
title        20150
editor        2364
year         20150
publisher    18389
booktitle     2106
volume        4191
series        8886
ee           13423
_url          2486
isbn         17070
_type        20150
dtype: int64

In [13]:
def truncate_title(title):
    title = str(title)
    if len(title) > 255:
        return title[:255]
    else:
        return title

# 应用截断函数到 'title' 列
book['title'] = book['title'].apply(truncate_title)
book['booktitle'] = book['booktitle'].apply(truncate_title)
book['isbn'] = book['isbn'].apply(truncate_title)
book['ee'] = book['ee'].apply(truncate_title)
book['_url'] = book['_url'].apply(truncate_title)

In [14]:
R_book_editor = book.assign(editor = book['editor'].str.split('::')).explode('editor')
R_book_editor.drop(columns=['mdate','title','year','publisher','isbn','series','volume','_url','booktitle', 'ee', '_type'],inplace=True)
R_book_editor.dropna(inplace=True)
R_book_editor.count()

_key      6516
editor    6516
_type     6516
dtype: int64

In [15]:
book.drop(columns=['editor'], inplace=True)
book.to_csv('csv_files/book.csv', index=False)
del book

## proceedings

In [16]:
proceeding = pd.read_csv('csv_files/proceedings.csv')

In [17]:
proceeding.rename(columns={'key':'_key', 'url': '_url'}, inplace=True)
proceeding['_type'] = 'proceeding'
proceeding.count()

_key         55933
mdate        55933
title        55933
editor       41847
year         55933
publisher    54246
booktitle    55406
volume       24817
series       25243
ee           50400
_url         55881
isbn         46284
_type        55933
dtype: int64

In [18]:
def truncate_title(title):
    title = str(title)
    if len(title) > 255:
        return title[:255]
    else:
        return title

# 应用截断函数到 'title' 列
proceeding['title'] = proceeding['title'].apply(truncate_title)
proceeding['booktitle'] = proceeding['booktitle'].apply(truncate_title)
proceeding['isbn'] = proceeding['isbn'].apply(truncate_title)
proceeding['ee'] = proceeding['ee'].apply(truncate_title)
proceeding['_url'] = proceeding['_url'].apply(truncate_title)

In [19]:
R_proceeding_editor = proceeding.assign(editor = proceeding['editor'].str.split('::')).explode('editor')
R_proceeding_editor.drop(columns=['mdate','title','year','publisher','isbn','series','volume','_url','booktitle', 'ee', '_type'],inplace=True)
R_proceeding_editor.dropna(inplace=True)
R_proceeding_editor.count()

_key      134814
editor    134814
_type     134814
dtype: int64

In [20]:
proceeding.drop(columns=['editor'], inplace=True)
proceeding.to_csv('csv_files/proceedings.csv', index=False)
del proceeding

## inproceedings and incollection

In [21]:
inproceeding = pd.read_csv('csv_files/inproceedings.csv')
incollection = pd.read_csv('csv_files/incollection.csv')

In [22]:
inproceeding.rename(columns={'key':'_key', 'url': '_url'}, inplace=True)
incollection.rename(columns={'key':'_key','url': '_url'}, inplace=True)
inproceeding['_type'] = 'inproceeding'
incollection['_type'] = 'incollection'

print(inproceeding.count())
print(incollection.count())

_key         3321836
mdate        3321836
title        3321835
author       3316737
year         3321836
crossref     3317737
booktitle    3321836
ee           3184453
_url         3321836
_type        3321836
dtype: int64
_key         69940
mdate        69940
title        69940
author       59126
year         69940
crossref     67307
booktitle    69940
ee           66501
_url         69940
_type        69940
dtype: int64

In [23]:
def truncate_title(title):
    title = str(title)
    if len(title) > 255:
        return title[:255]
    else:
        return title

inproceeding['title'] = inproceeding['title'].apply(truncate_title)
incollection['title'] = incollection['title'].apply(truncate_title)

inproceeding['booktitle'] = inproceeding['booktitle'].apply(truncate_title)
incollection['booktitle'] = incollection['booktitle'].apply(truncate_title)

inproceeding['ee'] = inproceeding['ee'].apply(truncate_title)
incollection['ee'] = incollection['ee'].apply(truncate_title)

In [24]:
R_inproceeding_author = inproceeding.assign(author = inproceeding['author'].str.split('::')).explode('author')
R_inproceeding_author.drop(columns=['mdate', 'title','year', 'crossref', 'booktitle','ee','_url','_type'],inplace=True)
R_inproceeding_author.dropna(inplace=True)
R_inproceeding_author.count()

_key      11027254
author    11027254
_type     11027254
dtype: int64

In [25]:
R_incollection_author = incollection.assign(author = incollection['author'].str.split('::')).explode('author')
R_incollection_author.drop(columns=['mdate', 'title','year', 'crossref', 'booktitle','ee','_url','_type'],inplace=True)
R_incollection_author.dropna(inplace=True)
R_incollection_author.count()

_key      139647
author    139647
_type     139647
dtype: int64

In [28]:
inproceeding.drop(columns=['author'], inplace=True)
inproceeding.to_csv('csv_files/inproceedings.csv', index=False)

incollection.drop(columns=['author'], inplace=True)
incollection.to_csv('csv_files/incollection.csv', index=False)

In [29]:
del inproceeding, incollection

## masterthesis.csv and phdthesis.csv

In [30]:
master = pd.read_csv('csv_files/mastersthesis.csv')
phd = pd.read_csv('csv_files/phdthesis.csv')

In [31]:
master.rename(columns = {'key':'_key'}, inplace=True)
phd.rename(columns = {'key':'_key'}, inplace=True)
master['_type'] = 'mastersthesis'
phd['_type'] = 'phdthesis'
print(phd.count())
print(master.count())

_key      116669
mdate     116669
title     116669
author    116668
school    116628
year      116669
ee        114964
_type     116669
dtype: int64
_key      21
mdate     21
title     21
author    21
school    21
year      21
ee        16
_type     21
dtype: int64

In [32]:
def truncate_title(title):
    title = str(title)
    if len(title) > 255:
        return title[:255]
    else:
        return title

# 应用截断函数到 'title' 列
master['title'] = master['title'].apply(truncate_title)
phd['title'] = phd['title'].apply(truncate_title)
master['ee'] = master['ee'].apply(truncate_title)
phd['ee'] = phd['ee'].apply(truncate_title)

In [35]:
R_master_author = master.assign(author = master['author'].str.split('::')).explode('author')
R_master_author.drop(columns=['mdate', 'title','year', 'school','ee','_type'],inplace=True)
R_master_author.dropna(inplace=True)
R_master_author.count()

_key      21
author    21
dtype: int64

In [36]:
R_phd_author = phd.assign(author = phd['author'].str.split('::')).explode('author')
R_phd_author.drop(columns=['mdate', 'title','year', 'school','ee','_type'],inplace=True)
R_phd_author.dropna(inplace=True)
R_phd_author.count()

_key      116809
author    116809
dtype: int64

In [40]:
master.drop(columns=['author'], inplace=True)
master.to_csv('csv_files/mastersthesis.csv', index=False)

phd.drop(columns=['author'], inplace=True)
phd.to_csv('csv_files/phdthesis.csv', index=False)

del master, phd

## www

In [41]:
www = pd.read_csv('csv_files/www.csv')

In [42]:
www.rename(columns = {'key':'_key'}, inplace=True)
R_www_author = www.assign(author = www['author'].str.split('::')).explode('author')
R_www_author.drop(columns=['mdate', 'title'],inplace=True)
R_www_author.dropna(inplace=True)
R_www_author.count()

_key      3426343
author    3426343
dtype: int64

In [43]:
www.drop(columns=['author'], inplace=True)
www.to_csv('csv_files/www.csv', index=False)

## R_editor, R_author

In [44]:
R_editor = pd.concat([R_book_editor, R_proceeding_editor], ignore_index=True)
print(R_editor.count())
R_editor.head()

_key      141330
editor    141330
dtype: int64

       _key                editor
0  tr/ac/50  Helen Bolke-Hermanns
1  tr/ac/50   Joost-Pieter Katoen
2  tr/ac/50       Klaus Indermark
3  tr/ac/50     Stefan Kowalewski
4  tr/ac/50      Thomas Noll 0001

In [45]:
R_editor.to_csv('csv_files/R_editor.csv', index=False)

In [46]:
R_author = pd.concat([R_article_author, R_inproceeding_author, R_incollection_author, R_master_author, R_phd_author, R_www_author], ignore_index=True)
print(R_author.count())
R_author.head()

_key      25389959
author    25389959
dtype: int64

              _key            author
0  tr/meltdown/s18       Paul Kocher
1  tr/meltdown/s18     Daniel Genkin
2  tr/meltdown/s18      Daniel Gruss
3  tr/meltdown/s18  Werner Haas 0004
4  tr/meltdown/s18      Mike Hamburg

In [47]:
R_author.to_csv('csv_files/R_author.csv', index=False)

In [48]:
del R_editor, R_author